body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    /* HEADINGS */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color:burlywood;

}

.header--secondary {
    font-weight: 300;
    font-size: 42;
    color:burlywood;

}
.header--sub-header {
    font-size: 21;
    color: #788cce;
}

    /* LINKS */

.link--cta {
    font-size: 16px;
    color:cyan;
   
}

    /* FOOTER */

    .footer--copy {
        font-size: 21px;
        color:burlywood;
    }